.preview-page {
	margin: 0 !important;
}
h1, h2, h3, h4, h5, h6 {
	border-bottom: none !important;
	margin: 0 !important;
	padding: 0 !important;
}
h1 {font-size: 28px;}
h2 {font-size: 22px;}
h3 {font-size: 18px;}
h4 {font-size: 16px;}
h5 {font-size: 14px;}
h6 {font-size: 12px;}
p, ul, li, th, td, .highlight {font-size: 12px !important;}
pre, code {font-size: 1em !important;}
small {font-size: 10px;}
h3:nth-child(1) {
	display: none !important;
}
hr {
	padding: 0 !important;
	margin: 0 !important;
	height: 1px !important;
	margin-bottom: 16px !important;
}
.markdown-body.entry-content {
	padding: 0 !important;
	border: none !important;
}
.fas {
	width: 1em !important;
	height: 1em !important;
	font-family: FontAwesome !important;
}
table.tablesplit {
	table-layout: fixed !important;
	display: table !important;
	margin-bottom: 0px !important;
}
table.tablesplit,
table.tablesplit>tbody,
table.tablesplit>tbody>tr {
	width: 100% !important;
}
table.tablesplit>tbody,
table.tablesplit>tbody>tr,
table.tablesplit>tbody>tr>td.tablecell {
	border: none !important;
}
table.tablesplit>tbody>tr>td.tablecell {
	vertical-align: top !important;
}
table.tablesplit>tbody>tr>td.tablecell:nth-child(1) {
	padding-right: 12px !important;
	padding-left: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
table.tablesplit>tbody>tr>td.tablecell:nth-child(2) {
	padding-right: 0px !important;
	padding-left: 12px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
table.triplesplit {
	table-layout: fixed !important;
	display: table !important;
	margin-bottom: 0px !important;
}
table.triplesplit,
table.triplesplit>tbody,
table.triplesplit>tbody>tr {
	width: 100% !important;
}
table.triplesplit>tbody,
table.triplesplit>tbody>tr,
table.triplesplit>tbody>tr>td.tablecell {
	border: none !important;
}
table.triplesplit>tbody>tr>td.tablecell {
	vertical-align: top !important;
}
table.triplesplit>tbody>tr>td.tablecell:nth-child(1) {
	text-align: left !important;
	padding-right: 12px !important;
	padding-left: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
table.triplesplit>tbody>tr>td.tablecell:nth-child(2) {
	text-align: center !important;
	padding-right: 12px !important;
	padding-left: 12px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
table.triplesplit>tbody>tr>td.tablecell:nth-child(3) {
	text-align: right !important;
	padding-right: 0px !important;
	padding-left: 12px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

